@import "tailwindcss";

@theme {
  /* User provided palette */
  --color-brand-beige: #fcf8ea;
  --color-brand-black: #3d1c0b;
  --color-brand-gold: #ecc558;
  --color-brand-gold-dark: #d5941d;

  /* Typography - switching to Serif (Lora) as requested "slightly cursive" */
  --font-serif: "Lora", serif;
  --font-sans: "Lora", serif;
}

body {
  background-color: var(--color-brand-beige);
  color: var(--color-brand-black);
  font-family: var(--font-serif);
}