@import "tailwindcss";

@theme {
  --color-brand-beige: #FDFBF7;
  --color-brand-black: #111111;
  --color-brand-gray: #666666;

  --font-sans: Inter, system-ui, sans-serif;
}

body {
  background-color: var(--color-brand-beige);
  color: var(--color-brand-black);
}