@import "tailwindcss";

@theme {
  /* User provided palette - adjusted for better match with screenshot */
  --color-brand-beige: #f9f5e9;
  --color-brand-black: #3d1c0b;
  --color-brand-gold: #e9c46a;
  --color-brand-gold-dark: #d5941d;

  /* Typography - switching to Serif (Lora) as requested "slightly cursive" */
  --font-serif: "Lora", serif;
  --font-sans: "Lora", serif;
}

body {
  background-color: var(--color-brand-beige);
  color: var(--color-brand-black);
  font-family: var(--font-serif);
}

@keyframes shine {
  0% {
    background-position: 100%;
  }

  100% {
    background-position: -100%;
  }
}

.animate-shine {
  animation: shine 5s linear infinite;
}

@keyframes star-movement-bottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }

  100% {
    transform: translate(-100%, 0%);
    opacity: 0;
  }
}

@keyframes star-movement-top {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }

  100% {
    transform: translate(100%, 0%);
    opacity: 0;
  }
}

.animate-star-movement-bottom {
  animation: star-movement-bottom linear infinite alternate;
}

.animate-star-movement-top {
  animation: star-movement-top linear infinite alternate;
}